
@{ ViewBag.Title = "Error"; } 

<h2>Error</h2>

<p>К сожалению, мы столкнулись с непредвиденной ошибкой 
    <a href="javascript:history.go(-1)"> Нажмите сюда </a> 
  если хотите вернуться и попробовать снова.</p>